body {
    background-color: #111;
    color: #e6e6e6;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    width: 760px;
    margin: 0 auto;
    background-color: #1a1a1a;
    border: 2px solid #444;
}

#header {
    background: #2b2b2b;
    padding: 20px;
    border-bottom: 2px solid #444;
}

#header h1 {
    margin: 0;
    color: #66ccff;
}

#nav {
    background: #000;
    padding: 10px;
    border-bottom: 2px solid #444;
}

#nav a {
    color: #00ccff;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

#nav a:hover {
    text-decoration: underline;
}

#content {
    padding: 20px;
    line-height: 1.5em;
}

#footer {
    border-top: 2px solid #444;
    background: #000;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

a {
    color: #33ccff;
}
